//! **************************************************************************
// Written by: Map P.28xd on Mon Oct 20 11:16:50 2014
//! **************************************************************************

SCHEMATIC START;
COMP "A<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "A<1>" LOCATE = SITE "G12" LEVEL 1;
COMP "A<2>" LOCATE = SITE "H14" LEVEL 1;
COMP "A<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "B<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "B<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "B<2>" LOCATE = SITE "K14" LEVEL 1;
COMP "B<3>" LOCATE = SITE "K13" LEVEL 1;
COMP "C<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "C<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "MuxSel<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "C<2>" LOCATE = SITE "L13" LEVEL 1;
COMP "MuxSel<1>" LOCATE = SITE "G14" LEVEL 1;
COMP "C<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "MuxSel<2>" LOCATE = SITE "F14" LEVEL 1;
COMP "MuxSel<3>" LOCATE = SITE "E13" LEVEL 1;
COMP "SEG<0>" LOCATE = SITE "E14" LEVEL 1;
COMP "SEG<1>" LOCATE = SITE "G13" LEVEL 1;
COMP "SEG<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "SEG<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "SEG<4>" LOCATE = SITE "R16" LEVEL 1;
COMP "SEG<5>" LOCATE = SITE "F13" LEVEL 1;
COMP "CLK" LOCATE = SITE "T9" LEVEL 1;
COMP "SEG<6>" LOCATE = SITE "N16" LEVEL 1;
COMP "SEG<7>" LOCATE = SITE "P16" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
TIMEGRP CLK = BEL "CONTADOR_0" BEL "CONTADOR_1" BEL "CONTADOR_2" BEL
        "CONTADOR_3" BEL "CONTADOR_4" BEL "CONTADOR_5" BEL "CONTADOR_6" BEL
        "CONTADOR_7" BEL "CONTADOR_8" BEL "CONTADOR_9" BEL "CONTADOR_10" BEL
        "CONTADOR_11" BEL "CONTADOR_12" BEL "CONTADOR_13" BEL "CONTADOR_14"
        BEL "CONTADOR_15" BEL "CONTADOR_16" BEL "CONTADOR_17" BEL
        "CONTADOR_18" BEL "CONTADOR_19" BEL "CONTADOR_20" BEL "CONTADOR_21"
        BEL "CONTADOR_22" BEL "CONTADOR_23" BEL "CONTADOR_24" BEL
        "CONTADOR_25" BEL "CONTADOR_26" BEL "CONTADOR_27" BEL "CONTADOR_28"
        BEL "CONTADOR_29" BEL "CONTADOR_30" BEL "CONTADOR_31" BEL
        "STDO_PRES_FSM_FFd4" BEL "STDO_PRES_FSM_FFd3" BEL "STDO_PRES_FSM_FFd2"
        BEL "STDO_PRES_FSM_FFd1" BEL "CLK_BUFGP/BUFG.GCLKMUX" BEL
        "CLK_BUFGP/BUFG";
TS_CLK = PERIOD TIMEGRP "CLK" 20 ns HIGH 50%;
SCHEMATIC END;

