Net "A(0)" LOC="F12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "A(1)" LOC="G12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "A(2)" LOC="H14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "A(3)" LOC="H13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

Net "B(0)" LOC="J14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "B(1)" LOC="J13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "B(2)" LOC="K14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "B(3)" LOC="K13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

Net "C(0)" LOC="M13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "C(1)" LOC="M14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "C(2)" LOC="L13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "C(3)" LOC="L14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;


Net "CLK" LOC="T9";
Net "CLK" IOSTANDARD = LVCMOS33;
## System level constraints
Net "CLK" TNM_NET = CLK;
TIMESPEC TS_CLK = PERIOD "CLK" 20000 ps;

Net "SEG(0)" LOC="E14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "SEG(1)" LOC="G13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "SEG(2)" LOC="N15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "SEG(3)" LOC="P15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "SEG(4)" LOC="R16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "SEG(5)" LOC="F13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "SEG(6)" LOC="N16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "SEG(7)" LOC="P16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

Net "MuxSel(0)" LOC="D14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "MuxSel(1)" LOC="G14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "MuxSel(2)" LOC="F14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "MuxSel(3)" LOC="E13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;