//! **************************************************************************
// Written by: Map P.28xd on Sun Nov 02 12:56:38 2014
//! **************************************************************************

SCHEMATIC START;
COMP "DISPLAY<1>" LOCATE = SITE "M13" LEVEL 1;
COMP "DISPLAY<2>" LOCATE = SITE "J12" LEVEL 1;
COMP "DISPLAY<3>" LOCATE = SITE "F12" LEVEL 1;
COMP "SEGMENTS<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "SEGMENTS<1>" LOCATE = SITE "H12" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "SEGMENTS<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "SEGMENTS<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "SEGMENTS<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "SEGMENTS<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "SEGMENTS<6>" LOCATE = SITE "M12" LEVEL 1;
COMP "SEGMENTS<7>" LOCATE = SITE "N13" LEVEL 1;
COMP "BIN<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "BIN<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "BIN<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "BIN<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "BIN<4>" LOCATE = SITE "G3" LEVEL 1;
COMP "BIN<5>" LOCATE = SITE "F3" LEVEL 1;
COMP "BIN<6>" LOCATE = SITE "E2" LEVEL 1;
COMP "BIN<7>" LOCATE = SITE "N3" LEVEL 1;
COMP "DISPLAY<0>" LOCATE = SITE "K14" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

