Net "LED0" LOC="M5" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "sys_clk_pin" LOC="B8";
Net "sys_clk_pin" IOSTANDARD = LVCMOS33;
## System level constraints
Net "sys_clk_pin" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD "sys_clk_pin" 20000 ps; 