Net "SEG[0]" LOC="L14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "SEG[1]" LOC="H12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "SEG[2]" LOC="N14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "SEG[3]" LOC="N11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "SEG[4]" LOC="P12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "SEG[5]" LOC="L13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "SEG[6]" LOC="M12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

Net "DISPLAY[0]" LOC="K14" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "DISPLAY[1]" LOC="M13" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "DISPLAY[2]" LOC="J12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "DISPLAY[3]" LOC="F12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

Net "BCD[0]" LOC="P11" | IOSTANDARD = LVCMOS33;
Net "BCD[1]" LOC="L3" | IOSTANDARD = LVCMOS33;
Net "BCD[2]" LOC="K3" | IOSTANDARD = LVCMOS33;
Net "BCD[3]" LOC="B4" | IOSTANDARD = LVCMOS33;